<html>
<head>
{% load static %}
<title>Get-Job</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
<style>
.nav-link{
    color:white !important;
    margin-left:5px;
    font-size:20px
    
}
.nav-link:hover{
    color:yellow !important;
    font-weight:bold;
    background-color:#17a2b8;
    border-radius:10px
    
}
.navbar-brand:hover{
    color:yellow !important
}
</style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <img src="{% static 'images/90.jpg'%}" style="width:150px; height:150px">
        </div>
        <div class="col-sm-6 mt-5 text-center">
            <span style ="font-weight:bold;font-size:40px;font-family: 'Merriweather', serif">
                <span style="color:red">Get-Job</span>
                <span style="color:blue">Portal</span>
            </span>
        </div>
        <div class="col-sm-3 mt-5" style="padding-left=10%">
            <span style="fon-weight:bold;font-size:30px">
                <span><i class="fa fa-twitter pl-3"></i></span>
                <span><i class="fa fa-linkedin pl-3"></i></span>
                <span><i class="fa fa-facebook pl-3"></i></span>
                <span><i class="fa fa-telegram pl-3"></i></span>
            </span>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-sm"style="background-color:blue">
    <a class="navbar-brand text-white pl-5 font-weight-bold" style="font-family:'Monotype corsiva';font-size:40px">Get-Job</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_home'%}" style="margin-left:280px"><i class="fa fa-home mr-1"></i>Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-users mr-1"></i>Company </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="company_pending">Pending</a>
                <a class="dropdown-item" href="company_accept">Accepted</a>
                <a class="dropdown-item" href="company_reject">Rejected</a>
                <a class="dropdown-item" href="company_all">All Companies</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'view_users'%}"><i class="fa fa-user-o mr-1"></i>View Job-Seekers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'change_passwordadmin'%}"><i class="fa fa-user-circle mr-1"></i>Change Password</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'Logout'%}"><i class="fa fa-sign-out mr-1"></i>Logout</a>
        </li>
    </ul>
    <a class="navbar-brand text-white pl-5 font-weight-bold" style="font-size:15px">{{request.user.username}}</a>
</nav>
</body>
</html>
