{% load static%}
{%block body%}
{%include 'admin_navigation.html'%}
<marquee  style="font-family:'Monotype Corsiva';font-size:25px; color:yellow;background-color:black; font-weight:bold; margin-top:1%">
Change Password
</marquee>
<script>
    function checkpass()
    {
        if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value)
        {
            alert('New Password and Cofirm password does not match');
            document.changepassword.confirmpassword.focus();
            return false;
        }
        return true;
    }
</script>
<hr>
<form class="container mt-5" method="POST" name="changepassword" onsubmit="return checkpass()">
    {% csrf_token %}
    <label><b>Current Password</b></label>
    <input type="password" class="form-control" name="currentpassword" required>
    <label><b>New Password</b></label>
    <input type="password" class="form-control" name="newpassword" required>
    <label><b>Confirm New Password</b></label>
    <input type="password" class="form-control" name="confirmpassword" required>
    <input type="submit" value="Change" class="btn btn-primary" style="margin-top:2%">
</form>
{%endblock body%}
{%if error == "no"%}
<script>
    alert("Password Changed Successfully");
    window.location=('{% url 'Logout'%}')
</script>
{%endif%}
{%if error == "not"%}
<script>
    alert("Your  current password is wrong.");
    window.location=('{% url 'change_passwordadmin'%}')
</script>
{%endif%}
