{% load static%}
{%block body%}
{%include 'admin_navigation.html'%}
<marquee  style="font-family:'Monotype Corsiva';font-size:25px; color:yellow;background-color:black; font-weight:bold; margin-top:1%">
Change the status of the Companies
</marquee>
<hr>
<form class="container mt-5" method="POST">
    {% csrf_token %}
    <label><b>Company EmailID</b></label>
    <input type="text" class="form-control" name="uname" value="{{company.user.username}}">
    <label><b>Status</b></label>
    <select class="form-control" name="status">
        <option value="Accept">Accept</option>
        <option value="Reject">Reject</option>
    </select>
    <input type="submit" value="Change" class="btn btn-primary" style="margin-top:2%">
</form>
{%endblock body%}
{%if error == "no"%}
<script>
    alert("Status changed Successfull");
    window.location=('{% url 'company_pending'%}')
</script>
{%endif%}
{%if error == "yes"%}
<script>
    alert("Something went wrong");
    window.location=('{% url 'change_status'%}')
</script>
{%endif%}
