{% load static%}
{%block body%}
{%include 'company_navigation.html'%}
<style>
tr{text-align:center}
</style>
<marquee  style="font-family:'Monotype Corsiva';font-size:25px; color:yellow;background-color:black; font-weight:bold; margin-top:1%">
View Jobs
</marquee>
<hr>
<table class="table table-hover container">
    <thead>
        <tr style="background-color:yellow">
            <th>S.No.</th>
            <th>Department</th>
            <th>Job Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody style="background-color:#bdf1e582">
        {%for i in job%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.department}}</td>
            <td>{{i.job_role}}</td>
            <td><a href="{% url 'edit_jobdetails' i.id%}" class="btn btn-success">Edit</a>
            <a href="{%url 'delete_job' i.id%}" class="btn btn-danger" onclick="return confirm('Are you sure ?')">Delete</a></td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock body%}